.icon {
  text-decoration-skip: objects;
  color: get-color('light');
  display: inline-flex;
  align-items: center;
  justify-content: center;

  svg {
    padding: 0.25em;
    width: 1em;
    height: 1em;
    stroke-width: 3.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    box-sizing: content-box;
    fill: none;
    stroke: currentColor;
    transition-property: stroke fill border-color;
    transition-duration: 0.2s;
    overflow: visible;
  }
}
