.tooltip {
  color: get-color('light');

  &:hover::after,
  &:focus::after {
    content: attr(aria-label);
    position: absolute;
    right: 0;
    bottom: -2em;
    width: max-content;
    font-size: get-size('s');
    display: inline-block;
  }

  &:focus::after {
    border-block-end: 2px dashed get-color('primary');
    bottom: calc(-2em - 2px);
  }

  &:hover ~ * :focus::after,
  &:hover ~ * :focus + .toggle__decor::after {
    display: none;
  }
}

[data-ellipsis] {
  &:hover::after,
  &:focus::after {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
  }
}

[data-ellipsis='s'] {
  &:hover::after,
  &:focus::after {
    max-width: 25ch;
  }
}
