/**
 * WRAPPER
 * Sets a max width, adds a consisten gutter and horizontally
 * centers the contents
 */
.wrapper {
  max-inline-size: max(97vw, 400px);
  padding: get-size('m');
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' opacity='0.04'%3E%3Cfilter id='a'%3E%3CfeTurbulence baseFrequency='1.5' result='noisy' type='fractalNoise'/%3E%3CfeColorMatrix type='saturate' values='0.1'/%3E%3C/filter%3E%3Cpath d='M0 0h96v96H0z' filter='url(%23a)'/%3E%3C/svg%3E");
    background-size: 96px;
    background-attachment: fixed;
    transform: translateZ(0) translate3d(0, 0, 0);
    z-index: 1;
    pointer-events: none;
  }
}
