{# Uncomment following line if hosting does not manage cache as Netlify does. Remember to add version hash to assets in Service Worker  #}
{# {% set assetHash = site.versionHash %} #}

{% set siteName = site.name %}

{% if site.subtitle %}
  {% set siteName = siteName + ' ' + site.subtitle %}
{% endif %}

{% set pageTitle = title + ' - ' + siteName %}

{# We don't want any duplication. This is likely for the homepage #}
{% if siteName === title %} 
  {% set pageTitle = title %}
{% endif %}

{% set siteTitle = siteName %}
{% set currentUrl = site.url + page.url %}

{# If the page’s frontmatter has specific metaTitle and/or metaDesc items, switch them into the mix #}
{% if metaTitle %}
  {% set pageTitle = metaTitle %}
{% endif %}

{% if not metaDesc %}
  {% set metaDesc = summary %}
{% endif %}

<!DOCTYPE html>
<html lang="{{ site.lang }}" dir="{{ site.dir }}">
  <head>
    {# head's tags order: https://speakerdeck.com/csswizardry/get-your-head-straight #}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ pageTitle }}</title>
    
    {# preconnects #}
    
    {# script async #}
    
    {# css with @import #}

    {# sync js #}

    {# sync css #}
    <link rel="stylesheet" href="/css/global.css{{ '?' + assetHash if assetHash }}" />
    
    {# preloads #}
    {% if page.url == '/'%}
      <link rel="modulepreload" href="/js/components/content.js">
    {% endif %}
    <link rel="preload" as="script" href="/sw.js">
    
    {# script defer #}
    {% block script %}{% endblock %}
    
    {# prefectch / prerender #}

    {# SEO meta, icons, open Graph, etc. #}
    {% include "partials/meta-info.njk" %}

    {# Minimal modern favicon https://dev.to/masakudamatsu/favicon-nightmare-how-to-maintain-sanity-3al7 #}
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="theme-color" content="{{ site.pwa.theme_color }}" />
  </head>
  <body>
    <div class="wrapper">
      {# Add facility for pages to declare an array of stylesheet paths #}
      {% if pageStylesheets %}
        {% for item in pageStylesheets %}
          <link rel="stylesheet" media="print" href="{{ item }}{{ '?' + assetHash if assetHash }}" onload="this.media='all'" />
          <noscript><link rel="stylesheet" href="{{ item }}{{ '?' + assetHash if assetHash }}"></noscript>
        {% endfor %}
      {% endif %}
      
      {% include "partials/site-head.njk" %}

      <main tabindex="-1" id="main-content">
        {% block content %}{% endblock %}
      </main>

      <footer>
        <small>Última actualización: {{ helpers.currentDate() }}</small><a href="https://www.ogarcia.es" rel="external noopener" aria-label="Desarrollo y diseño web: Óscar García"><svg aria-hidden="true" focusable="false" viewBox="0 0 43.89 43.89" height="1.5em"><path fill="#4f4f4f" d="m3.11 11.07 18.83 10.87V11.07Z"/><path fill="#191919" d="M21.94 21.94V43.7l-9.41-16.31z"/><path fill="#a4a4a4" d="m21.94 21.94 18.83-10.87-9.41 16.3Z"/><path fill="#242424" d="m3.11 11.07 28.25 16.3-9.42 16.32V11.07h18.83l-28.24 16.3Z"/></svg></a>
      </footer>
    </div>
    <script src="/sw.js" defer></script>
  </body>
</html>
