.channels {
  display: flex;
  overflow-x: auto;
  width: max-content;
  max-width: 100%;
  font-size: get-size('s');
  padding: calc(0.25rem + 2px);
  margin: calc(-0.25rem - 2px);
  margin-inline-start: auto;

  &__item:not(:last-of-type)::after {
    content: '/';
    margin-inline-start: get-size('xs');
    opacity: 0.5;
  }

  &__link {
    color: get-color('light');
    margin-inline-start: get-size('xs');
    text-decoration: none;

    &[data-state] {
      color: get-color('primary');
    }
  }
}
