.content {
  font-size: get-size('0');
  width: calc(100% - 3em);
  max-width: 120ch;
  margin-block-start: auto;

  h1 {
    display: inline;
    font-size: get-size('0');
  }

  p {
    display: inline;
  }

  a {
    color: currentColor;
  }
}
