.items {
  padding: 0;
  margin-block: get-size('xs') get-size('xxl');
}

.item {
  --flow-space: get-size('xs');
  border-radius: 0.5em;
  border: 0.1em solid currentColor;
  position: relative;
  transition-property: transform border-color;
  transition-duration: 0.2s;

  &:focus-within,
  &:hover {
    transform: scale(1.02, 1.02) translateZ(0) translate3d(0, 0, 0);
  }

  &:hover {
    color: get-color('primary');
  }

  &:focus-within img,
  &:hover img {
    filter: grayscale(0%) hue-rotate(360deg);
  }

  &:focus-within::after,
  &:hover::after {
    opacity: 0;
  }

  &::after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(transparent, #5b40bf 110%),
      linear-gradient(10deg, transparent, #5b40bf 110%);
    opacity: 0.1;
    pointer-events: none;
    transition-property: opacity;
    transition-duration: 0.2s;
  }

  &__link {
    flex-grow: 1;
  }

  &__nav {
    font-size: get-size('s');
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__nav-link {
    filter: drop-shadow(0 0 1px #000) drop-shadow(0 0 1px #000) drop-shadow(0 0 1px #000)
      drop-shadow(0 0 1px #000);
    padding: 0.2em;
    margin-inline-start: get-size('xs');
    border-radius: 50%;
  }

  picture {
    height: 100%;
    width: 100%;
  }

  img {
    border-radius: 0.2em;
    filter: grayscale(80%) hue-rotate(300deg);
    aspect-ratio: 480/360;
    transition-property: filter;
    transition-duration: 0.2s;
  }

  &__link[data-cover] img {
    aspect-ratio: 640/959;
  }
}
