.nav {
  flex: 0 1 auto;

  &__list {
    margin: 0;
    padding: 0;
    align-items: center;
  }

  &__link {
    margin-inline-start: get-size('xs');
    color: get-color('light');
    text-decoration: none;
    border-radius: 50%;
    border: 0.15em solid currentColor;
    position: relative;
    font-size: get-size('s');

    svg {
      stroke: none;
      fill: currentColor;
      overflow: visible;

      &:hover {
        stroke: none;
      }
    }

    &[data-stroke] svg {
      stroke: currentColor;
      fill: none;
      stroke-linecap: butt;
    }
  }
}
