.site-head {
  margin-block-end: get-size('l');
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;

  & > * {
    margin-block-end: get-size('s');
  }

  &__brand {
    flex: 1 1 auto;
  }

  &__link {
    color: get-color('light');
    position: relative;

    svg {
      height: 1em;
      transition: fill 0.2s;
    }

    span {
      text-transform: uppercase;
      font-size: get-size('xs');
      position: absolute;
      bottom: calc((get-size('s') * -1) - 0.2em);
      right: 0;
    }
  }

  &__nav {
    flex: 0 1 auto;
  }
}
