// Hide skip link visually by default
.skip-link:not(:focus) {
  @extend %visually-hidden;
}

.skip-link:focus {
  font-size: get-size('s');
  display: inline-block;
  position: absolute;
  top: calc(0.25rem + 2px);
  left: calc(max(get-size('m'), 1.5vw) + 0.25rem + 2px);
  color: get-color('light');
  line-height: 1;
  text-decoration: none;
}
