// https://piccalil.li/tutorial/solution-002-toggle-switch/
.toggle {
  position: relative;

  &:hover {
    color: get-color('primary');
  }

  &__element {
    opacity: 0;
    position: absolute;
    top: calc(50% - 0.25em);
    transform: translateY(-50%);
    width: 1.5em;
    height: 1.5em;
  }

  &__decor {
    width: 1.5em;
    height: 1.5em;
    overflow: hidden;

    &::before {
      content: '';
      display: none;
      width: 1.5em;
      height: 1.5em;
      outline: 2px dashed get-color('primary');
      outline-offset: 0.42rem;
      position: absolute;
      border-radius: 50%;
    }

    &::after {
      content: attr(data-label);
      position: absolute;
      right: 0;
      width: max-content;
      font-size: get-size('s');
      display: none;
      border-block-end: 2px dashed get-color('primary');
      bottom: calc(-2em - 2px);
    }
  }

  &__icon {
    position: absolute;
  }

  &__icon[data-state='checked'] {
    opacity: 0;
  }
}

:checked + .toggle__decor .toggle__icon {
  &[data-state='checked'] {
    opacity: 1;
  }

  &[data-state='un-checked'] {
    opacity: 0;
  }
}

:focus + .toggle__decor::before,
:focus + .toggle__decor::after {
  display: block;
}
