---js
{
  pagination: {
    data: "feeds",
    size: 1,
    alias: "channel",
    before: function(feeds, fmData) {
      return feeds.filter(feed => this.slugify(feed.title) == fmData.feedToShow);
    }
  },
  permalink: "/",
  title: "dumbTV",
  metaDesc: "Feeds de vídeos preparados para reproducir en la dumbTV de Óscar García. Personaliza tu propia página para seguir tus programas de RTVEplay y canales de Youtube y Twitch.",
  layout: "layouts/home.njk",
  feedToShow: "demo",
  changeFreq: "daily"
}
---

<p>
  Últimos programas de TV y vídeos de canales de {{ feedToShow | slugify }} que sigo listos para mostrar en mi <strong><em>dumbTV</em></strong>.
</p>
