---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
Sitemap: {{ site.url }}/sitemap.xml

User-agent: *
Disallow: /admin
Disallow: /aviso-legal
Disallow: /legal
Disallow: /offline.html
Disallow: /404.html