---
pagination:
  data: collections.all
  size: 1
  alias: preview
permalink: "/images/social-images/{{ preview.data.title | slug }}.svg"
eleventyExcludeFromCollections: true
---
<svg xmlns="http://www.w3.org/2000/svg" width="1200" height="628">
  {%- set numbers = [0, 1, 2, 3, 4, 5, 6] -%}
  {%- set titleInLines = preview.data.title | splitlines(19) -%}
  {%- set numberOfLines = titleInLines.length -%}
  <filter id="a"><feTurbulence baseFrequency="1.5" result="noisy" type="fractalNoise"/><feColorMatrix type="saturate" values=".1"/></filter>
  <filter id="b" x="0%" y="0%" width="100%" height="100%"><feTurbulence type="fractalNoise" baseFrequency="0 0.02" result="NOISE" numOctaves="2" /><feDisplacementMap in="SourceGraphic" in2="NOISE" scale="30" xChannelSelector="R" yChannelSelector="R"></feDisplacementMap></filter>
  <rect width="100%" height="100%" fill="#141414"/><rect width="100%" height="100%" fill="none" filter="url(#a)" opacity=".1"/>
  <g filter="url(#b)">
    <g opacity="0.2">
    {%- for i in range(5,10) %}
      {%- set color = numbers | random -%}
      {%- set color2 = numbers | random -%}
      <line x1="{{ (numbers | random) * 150 }}" y1="{{ (numbers | random) * 100 }}" x2="{{ (numbers | random) * 200 }}" y2="{{ (numbers | random) * 200 }}" stroke-width="{{ numbers | random }}" opacity="0.{{ numbers | random }}" stroke="#{{ color }}{{ color }}{{ color }}" filter="url(#a)" />
    {% endfor -%}
    </g>
    <path fill="#8766ff" d="M523 {% if preview.data.title == 'dumbTV' -%}300{%- else -%}559{%- endif -%}v6h6v17h-6v5h-23v-28zm-4 24v-6h5v-7h-5v-7h-14v20zm20-24v24h20v-24h4v28h-29v-28zm58 0v28h-4v-24h-8v13h-4v-13h-7v24h-5v-28zm29 0v13h5v15h-28v-28zm0 24v-7h-19v7zm-5-11v-9h-14v9zm45-13v4h-12v24h-5v-24h-12v-4zm10 0v18h9v6h2v-6h8v-18h5v23h-9v5h-11v-5h-9v-23z"/>
    {% if preview.data.title != 'dumbTV' %}
    <text id="text" font-family="monospace" font-size="45" fill="#a1a1a1">
    {%- for line in titleInLines %}
      <tspan text-anchor="middle" dominant-baseline="middle" x="50%" y="{{ 334 + (loop.index0 * 45) - ((numberOfLines - 1) * 35) }}">{{line}}</tspan>
    {% endfor -%}
    </text>
    {% endif -%}
  </g>
</svg>
