// First up: config and functions
@import 'config';

// Next: pull in gorko for design tokens
@import '../../node_modules/gorko/gorko.scss';

@import 'reset';

// Global styles start
:root {
  --flow-space: #{get-size('l')};

  font-size: get-size('m');
}

body {
  text-rendering: optimizeSpeed;
  color: get-color('light');
  line-height: 1.5;
  background-color: get-color('dark');

  @include apply-utility('ff', 'base');
}

a:not([class]) {
  color: get-color('primary');
}

a:hover {
  color: get-color('primary');
}

:focus {
  outline: 2px dashed get-color('primary');
  outline-offset: 0.25rem;
}

main {
  flex: auto;
  display: flex;
  flex-direction: column;
}

main:focus {
  outline: none;
}

h1,
h2 {
  font-size: get-size('m');
  letter-spacing: 0.12em;
  font-weight: normal;
}

h1 {
  border-bottom: 0.1em dashed;
}

// High contrast selection because it can help visually-impaired
// folks read the text easier
::selection {
  color: get-color('dark');

  // We set this as an RGBA because that's how you get a solid color, by using 0.99
  // alpha value. Browsers are wild.
  background: rgba(get-color('primary'), 0.99);
}

input,
progress {
  accent-color: get-color('primary');
}

img {
  height: auto;
}

footer a {
  position: absolute;
  bottom: get-size('m');
  right: get-size('m');
}

small {
  display: inline-block;
  width: calc(100% - 3em);
  font-size: get-size('0');
}

.podcast::before {
  content: 'podcast';
  position: absolute;
  top: 0;
  left: 0;
  filter: drop-shadow(0 0 1px #000) drop-shadow(0 0 1px #000) drop-shadow(0 0 1px #000)
    drop-shadow(0 0 1px #000);
  padding: 0.2em;
  z-index: 2;
  text-transform: uppercase;
  font-size: get-size('xs');
}

// Import composition
@import 'composition/stack';
@import 'composition/grid';

// Import utilities
@import 'utilities/icon';
@import 'utilities/flow';
@import 'utilities/visually-hidden';
@import 'utilities/wrapper';
@import 'utilities/cover-pic';
@import 'utilities/shadow';
@import 'utilities/tooltip';

// Import blocks
@import 'blocks/items';
@import 'blocks/skip-link';
@import 'blocks/site-head';
@import 'blocks/content';
@import 'blocks/nav';
@import 'blocks/separator';
@import 'blocks/post';
@import 'blocks/toggle';
@import 'blocks/channels';
