<ol class="[ items ] [ grid ]" role="list" aria-describedby="description">
  {% for entry in channel.feed %}
    <li class="[ stack ] [ shadow ] [ item ]" role="listitem">
      <a class="[ item__link ] [ tooltip ] {% if entry.isPodcast %}podcast{% endif %}" data-ellipsis rel="external noopener" data-item-link href="{{ entry.url }}" rel="external noreferrer nofollow" aria-label="{% if entry.title %}{{ entry.title }}{% else %}{{ entry.siteTitle + ' (sin título)' }}{% endif %}"{% if entry.cover %} data-cover{% endif %}>{% img src=entry.thumbnail, loading="eager", class="cover-pic" %}</a>

      <ul role="list" class="[ item__nav ] [ d-if ]">
        <li class="d-if" role="listitem">
          <label class="[ toggle item__nav-link ] [ tooltip icon ]" data-ellipsis="s" aria-label="Visto" for="viewed{{ loop.index }}">
            <input id="viewed{{ loop.index }}" type="checkbox" role="switch" class="toggle__element" data-element="dtv" data-id="{{ entry.url }}" hidden/>

            <div class="toggle__decor" data-label="Visto" aria-hidden="true">
              {% include "icons/checked.svg" %}
              {% include "icons/checkbox.svg" %}
            </div>
          </label>
        </li>

        <li class="d-if" role="listitem">
          <a href="{{ entry.siteUrl }}" class="[ item__nav-link ] [ tooltip icon ]" data-ellipsis="s" rel="external noopener" aria-label="{% if entry.isPodcast %}Audios de{% else %}Vídeos de{% endif %} {{ entry.siteTitle }}">{% if loop.first %}{% include "icons/link.svg" %}{% else %}{% include "icons/link-use.svg" %}{% endif %}</a>
        </li>

        <li class="d-if" role="listitem">
          <a href="{{ entry.feedUrl }}" class="[ item__nav-link ] [ tooltip icon ]" data-ellipsis="s" rel="external noopener" aria-label="RSS de {{ entry.siteTitle }}">{% if loop.first %}{% include "icons/rss.svg" %}{% else %}{% include "icons/rss-use.svg" %}{% endif %}</a>
        </li>
      </ul>
    </li>
  {% endfor %}
</ol>
