<a class="skip-link" href="#main-content">Ir a contenido</a>
<header role="banner">
  <div class="site-head">
    <div class="[ site-head__brand ] [ d-if ]">
      <a href="/" class="[ site-head__link ] [ d-if ]" aria-label="{{ site.name }} - inicio">
        {% include "icons/logo.svg" %}
        
        {% if site.subtitle %}<span aria-hidden="true">Podcast</span>{% endif %}
      </a>
    </div>

    <div class="d-if">
      <nav
        class="[ site-head__nav nav ] [ d-if ]"
        aria-label="Principal"
      >
        <ul class="[ nav__list ] [ d-if ]" role="list">
          {% for item in navigation.items %}
          <li class="d-if" role="listitem">
            <a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }} aria-label="{{ item.text }}" class="[ nav__link ] [ tooltip icon ]" data-stroke>{% include "icons/" + item.icon %}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>

      {% if links.items.length %}
        <span class="[ separator ] [ d-if ]" aria-hidden="true">/</span>

        <nav
          class="[ site-head__nav nav ] [ d-if ]"
          aria-label="Plataformas externas"
        >
          <ul class="[ nav__list ] [ d-if ]" role="list">
            {% for item in links.items %}
            <li class="d-if" role="listitem">
              <a href="{{ item.url }}" rel="external noopener" aria-label="{{ item.text }}" class="[ nav__link ] [ tooltip icon d-if ]">{% include "icons/" + item.icon %}</a>
            </li>
            {% endfor %}
          </ul>
        </nav>
      {% endif %}
    </div>
  </div>

  <nav aria-label="Canales">
    <ul class="[ channels ] [ nav__list ]" role="list">
      {% for item in feeds %}
        <li class="[ channels__item ] [ d-if ]" role="listitem">
          {% set channelUrl = '/' + (item.title  | slugify) + '/' %}
          <a href="{{ channelUrl }}" {{ helpers.getLinkActiveState(channelUrl, page.url) | safe }} class="channels__link">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>
